<<<<<<< HEAD
<h2>Order Show Page</h2>

<% @order.order_items.each do |item| %>
  <%= item.product.name %>
  <br />
<% end %>
=======
<h2> Order Details Page </h2>
>>>>>>> f99cc427bc66de5c47dce4797ccc554dc4db82dc
