<div class="mini-body-about">
  <section class="merchant-show-title">
  <h3> About Us </h3>
  </section>

  <ul class="about-grid-container" >
    <li class="grid-item">
      <p><strong>Dionisia</strong></p>
    <%=  image_tag("americat2.jpg", class: "image") %><br>
    Wereunicorn rainbows surprise puppy rainbows kittens puppy unicorn app. Delight pop pegasus pony kittens surprise, pony puppy wereunicorn pigeon pony. Surprise pigeon unicorn social delight pegasus pop kittens wereunicorn.

    </li>
    <li class="grid-item">
      <p><strong>Layla</strong></p>
    <%=  image_tag("americat2.jpg", class: "image") %>
    <br>
    Wereunicorn rainbows surprise puppy rainbows kittens puppy unicorn app. Delight pop pegasus pony kittens surprise, pony puppy wereunicorn pigeon pony. Surprise pigeon unicorn social delight pegasus pop kittens wereunicorn.

    </li>

    <li class="grid-item">
      <p><strong>Melissa</strong></p>
    <%=  image_tag("americat2.jpg", class: "image") %>
    <br>
    Wereunicorn rainbows surprise puppy rainbows kittens puppy unicorn app. Delight pop pegasus pony kittens surprise, pony puppy wereunicorn pigeon pony. Surprise pigeon unicorn social delight pegasus pop kittens wereunicorn.

    </li>
    <li class="grid-item">
      <p><strong>Michelle</strong></p>
    <%=  image_tag("americat2.jpg", class: "image") %>
    <br>
    Wereunicorn rainbows surprise puppy rainbows kittens puppy unicorn app. Delight pop pegasus pony kittens surprise, pony puppy wereunicorn pigeon pony. Surprise pigeon unicorn social delight pegasus pop kittens wereunicorn.

    </li>
  </ul>

</div>
