<section class="merchant-title">
<h2>Merchant Index Page!</h2>
</section>


<container>
<p></p>
<ul class="grid-container">
  <% Merchant.all.each do |merchant| %>
  <li class="grid-item">
    <strong>
      <div class="container">
    <h5><%= link_to "#{merchant.username}", merchant_products_path(merchant.id) %></h5>
</strong>
</li>
  <% end %>
</ul>
</container>
