<h2>Merchant Show Page!</h2>

<% if @login_user != nil %>
  <%= link_to "Add Product", new_product_path %>
  <%= link_to "Add Category", new_category_path %>
<% end %>

<%= render partial: "/layouts/merchant_account_products" %>
