@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

body {
text-transform:capitalize;
background-color: #B1B3B5;
font-family: 'Quicksand', sans-serif;

}

li {
  list-style: none;
}


.header{
 background-image: url('http://www.printawallpaper.com/upload/designs/red_diamond_detail.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
 font-family: 'Love Ya Like A Sister', cursive;

}

.logo {
  text-align: center;
  font-weight: 600;
  font-size: 10em;
  letter-spacing: .2em;
}

.nav-app-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

a:visited{
  color: #F7EBE8;
}
a:link{
  color: #F7EBE8;
}
a:hover{
  color: #E54B4B;
  text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #292F36;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 36px;
    z-index: 1;
    font-weight: bold;
    white-space: nowrap;

}

.dropdown:hover .dropdown-content {
    display: block;
}
