// Place all the styles related to the merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.merchant-title {
  text-align: center;
}

/*---------------------- PRODUCT LIST ----------------------------*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;
  grid-column-gap: 50px;
  grid-row-gap: 25px;
  align-self: auto;
}

.order-items {
  margin-bottom: 0;
  padding: 0;
}
.order-items li {
  list-style: disc;
}

.order-row td {
  padding: 10px 20px;
  vertical-align: top;
}

.order-header th {
  padding: 10px 20px;
}
