<section class="category-title">
<h2>Category Index Page!</h2>
</section>



<container>
<p></p>
<ul class="grid-container">
  <% @categories.each do |category| %>
  <li class="grid-item">
    <strong>
      <div class="container">
    <h5><%= link_to "#{category.category_name}", category_products_path(category[:id]) %></h5>
  </strong>
  </li>
    <% end %>
  </ul>
  </container>
