<h2>List of Products</h2>

<ul>
  <% @products.each do |p| %>
  <li>
    <strong>
      <%= p.name %>
      <%= p.price.to_f.round(2) %>
    </strong>

    <div>

    </div>
<<<<<<< HEAD
=======

>>>>>>> fd59ac9934c35fe77e79cbbc6d9279fe3d84aa22
  </li>

  <div><strong>Add to Item to Cart</strong>
    <%=  %>
  </div>
  <% end %>
</ul>
